<div class="card">
   <h2>Welcome to DeskFit</h2>
   <p>Stay active while working from home with DeskFit!</p>
   <ol>
      <li>
         Explore our <a class="link" routerLink="/cardlist">exercises</a> tab for a
         variety of desk-friendly workouts.
      </li>

      <li>
         On the <a class="link" routerLink="/workout">workout</a> tab, set the timer, and
         get moving. Each time your timer goes off, an exercise card appears with a new
         activity. Complete the exercise, click 'Done', and reset the timer for the next
         round.
      </li>

      <li>
         Prioritize your well-being and boost productivity today. Get healthier while
         working!
      </li>
   </ol>
</div>
