<div class="container">
   <div class="card-container">
      <div class="card" *ngIf="showCard">
         <h4>{{ this.exercise.name }}</h4>
         <img
            [src]="'../../../assets/images/' + this.exercise.imageURL + '.bmp'"
            alt="Card Image" />
         <p>{{ this.exercise.description }}</p>

         <div class="cardButtons">
            <button class="bigButton" (click)="unsetAlarm()">Cancel</button>
            <button class="bigButton" (click)="resetAlarm()">Done</button>
         </div>
      </div>

      <div class="cardBack" *ngIf="!showCard">
         <div class="configControls" *ngIf="!isTheAlarmeSet">
            <div class="timeConfig">
               <p *ngIf="!isTheAlarmeSet">{{ this.minutes }} minutes</p>

               <mat-slider min="2" max="60" step="5" discrete [displayWith]="formatLabel">
                  <input matSliderThumb [(ngModel)]="minutes" />
               </mat-slider>

               <button class="bigButton" *ngIf="!isTheAlarmeSet" (click)="setAlarm()">
                  Start
               </button>
            </div>

            <div class="soundConfig">
               <mat-form-field subscriptSizing="dynamic" required>
                  <mat-label>Alarm Sound</mat-label>
                  <mat-select [(ngModel)]="sound">
                     <mat-option *ngFor="let sound of sounds" [value]="sound">{{
                        sound
                     }}</mat-option>
                  </mat-select>
               </mat-form-field>

               <button class="bigButton" *ngIf="!isTheAlarmeSet" (click)="soundTest()">
                  Sound Test
               </button>
            </div>
         </div>

         <div class="displayTime" *ngIf="isTheAlarmeSet">
            <p>
               Next Workout in
               {{ minutesToNextWorkout | pluralSingular: 'minute' : 'minutes' }}
            </p>

            <button class="bigButton" (click)="unsetAlarm()">Cancel</button>
         </div>
      </div>
   </div>
</div>
